* {
    box-sizing: border-box;
}
.container {
    padding: 8px;
}
body {
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1080px;
    background-color: #000000
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* for mobile phones */
@media only screen and (max-width: 780px) {
    [class*="col-"] {
        width: 100%;
    }
    .welcome-section {
        display: flex;
        justify-content: center;
        /* align-items: flex-end;  */
        padding: 0 0 100px 0;
        width: auto;
        height: 100vh;
    }
    .welcome-section h1 {
        font-size: 60px;
        margin-top: 40vh;
    }
    .project-section img {
        width: 10px;
    }
    .contact-section ul{
        margin-left: 16vw;
    }
    .contact-section h3{
        margin-left: 16vw;
    }
    .contact-section img {
        width: 100%;
    }
    .nav-button {
        display: block;
        width: 120px;
        border: 2px solid;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto 10px auto;
        padding: 4px 8px;
    }
  }

/* for bigger screens */
@media only screen and (min-width: 780px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.welcome-section {
    background-size: cover;
    width: auto;
    height: 100vh;
    padding-top: 30vh;
    text-align: center;
    font-size: 35px;
}
.welcome-section h1 {
    padding-top: 40px;
    font-size: 90px;
    margin: 0;
}
.nav-button {
    border: 2px solid;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 20px;
}
}

main{
    font-family: 'Roboto Slab', sans-serif;
    color: #ffffff
}
a {
    text-decoration: none;
    color: #ffffff;
}
p {
    line-height: 150%
}
a:hover {
    color: #d3d3d3;
}
h2 {
    margin-top: 0px;
    padding-top: 30px;
}

.welcome-section p {
    margin: 0px;
    margin: 0 auto 0 auto;
    text-align: center
}

.about-section {
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}
.about-section img {
    border-radius: 150px;
    width: auto;
    height: 250px;
    display: block;
    margin: 30px auto 0 auto;

}
.about-section h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 10vh;
}
.about-section p {
    padding: 0 15px 0 15px;
}
.project-header {
    font-size: 50px;
    text-align: center;
}
#podcast-img {
    margin-top: 90px;
}
#brew-jams-img {
    margin-top: 30px;
}
#shareit-img {
    margin-top: 50px;
}
#weekly-agenda-race {
    margin-top: 90px;
}

.project-section {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-section h3 {
    font-size: 36px;
    text-align: center;
}
.project-section p {
    padding-left: 15px;
    padding-right: 15px;
}
.heroku-link {
    display: inline-block;
    margin-left: 40px;
}
.project-section img {
    width: 325px;
    /* box-shadow: 4px 4px 6px #888888; */
    height: auto;
    display: block;
    margin: 0 auto 20px auto;

}
.contact-section {
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.contact-section h2 {
    font-size: 50px;
    text-align: center;
}
.contact-section ul {
    list-style-type: none;
    padding-left: 0;
}
.contact-section li {
    margin-top: 8px;
    font-size: 20px;
}
.contact-section img {
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.contact-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-section li img {
    height: 25px;
    width: 25px;
    display: inline;
}
.contact-info {
    display: block;
    margin-top: 60px;
    padding-left: 40px;
}
.linkedin-link {
    display: inline-block;
    height: 25px;
    width: 100px;
    background-image: url("../assets/images/grey-linkedin-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}
.linkedin-link:hover {
    display: inline-block;
    height: 25px;
    width: 100px;
    background-image: url("../assets/images/grey-linkedin-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.github-link {
    display: inline-block;
    height: 25px;
    margin-right: 20px;
    width: 25px;
    position: absolute;
    top: 10;
    background-image: url("../assets/images/grey-github-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.github-link:hover {
    display: inline-block;
    margin-right: 20px;
    height: 25px;
    width: 25px;
    background-image: url("../assets/images/grey-github-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.github-link-footer {
    margin-left: 24px;
}
#linkedin {
    height: 25px;
    width: 100px;
    margin-right: 15px;
}
footer {
    text-align: center;
    margin-top: -30px;
}
footer span {
    margin: 40px;
}
